img.UK-color {
  filter: hue-rotate(130deg);
}

img.Canada-color {
  filter: hue-rotate(200deg);
}

img.Australia-color {
  filter: hue-rotate(250deg);
}

img.nan-color {
  filter: grayscale(100%);
}

img.Germany-color {
  filter: hue-rotate(50deg);
}

img.Pakistan-color {
  filter: hue-rotate(40deg);
}

img.Brazil-color {
  filter: hue-rotate(600deg);
}

img.Lanka-color {
  filter: hue-rotate(100deg);
}

img.Spain-color {
  filter: hue-rotate(220deg);
}

img.Italy-color {
  filter: hue-rotate(80deg);
}
