// Africa
.Africa-color,
img.Kenya-color,
img.Africa-color,
img.Ethiopia-color {
  filter: hue-rotate(100deg);
}


// Asia
.Asia-color,
img.Lanka-color,
img.Pakistan-color,
img.India-color,
img.Japan-color,
img.Thailand-color,
img.Philippines-color,
img.Indonesia-color,
img.Iran-color,
img.Korea-color,
img.Jordan-color,
img.Russia-color,
img.Malaysia-color {
  filter: hue-rotate(250deg);
}

// South America
.SAmerica-color,
img.Chile-color,
img.Brasil-color,
img.Venezuela-color,
img.Rico-color,
img.Panama-color,
img.Colombia-color,
img.Ecuador-color,
img.Argentina-color {
  filter: hue-rotate(150deg);
}

// Oceania
.Oceania-color,
img.Australia-color,
img.Zealand-color,
img.Nauru-color {
  filter: hue-rotate(50deg);
}

// Europe
.Europe-color,
img.Armenia-color,
img.UK-color,
img.Germany-color,
img.Italy-color,
img.Spain-color,
img.France-color,
img.Ireland-color,
img.Netherlands-color,
img.Estonia-color,
img.Greece-color,
img.Ukraine-color,
img.Belgium-color,
img.Poland-color,
img.Portugal-color,
img.Macedonia-color,
img.Turkey-color,
img.Denmark-color,
img.Hungary-color,
img.Bulgaria-color,
img.Croatia-color,
img.Switzerland-color,
img.Cyprus-color,
img.Slovakia-color,
img.Albania-color,
img.Albania-color,
img.Bosnia-color,
img.Norway-color,
.Czech {
  filter: hue-rotate(200deg);
}

// nan
img.nan-color {
  filter: grayscale(100%);
}
