@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:ital,wght@0,100;0,400;1,100;1,400&display=swap');

$titles: 'Michroma', sans-serif;
$paragraphs: 'Roboto Mono', monospace;

body {
  h1, h2, h3 {
    font-family: $titles;
  }
  
  p {
    font-family: $paragraphs;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
