@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Roboto+Mono:ital,wght@0,100;0,400;1,100;1,400&display=swap');

$titles: 'Michroma', sans-serif;
$paragraphs: 'Roboto Mono', monospace;

body {
  h1, h2, h3 {
    font-family: $titles;
  }

  p {
    font-family: $paragraphs;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

img.UK-color {
  filter: hue-rotate(130deg);
}

img.Canada-color {
  filter: hue-rotate(200deg);
}

img.Australia-color {
  filter: hue-rotate(250deg);
}

img.nan-color {
  filter: grayscale(100%);
}

img.Germany-color {
  filter: hue-rotate(50deg);
}

img.Pakistan-color {
  filter: hue-rotate(40deg);
}

img.Brazil-color {
  filter: hue-rotate(600deg);
}

img.Lanka-color {
  filter: hue-rotate(100deg);
}

img.Spain-color {
  filter: hue-rotate(220deg);
}

img.Italy-color {
  filter: hue-rotate(80deg);
}
